.item-center{
   margin: 0 auto !important;
}

.item-text{
    font-size: 1.25rem;
    margin-bottom: 2px !important;
}

.password-reset-text-margins{
    margin-left: 33% !important;
}

.bottom-margin{
    margin-bottom: 5px !important;
}
